* {
    background-color: #21222C;
    font-family: 'Rubik Gemstones', cursive;
    color: aliceblue;
}

h1 {
    display: flex;
    justify-content: center;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 2rem;
}

.emoji {
    position: absolute;
    top: 50%;
    left: 81%;
    margin: -1.4%;
    margin-left: .1%;
}

.emoji input{
    height: 3.7rem;
    width: 5rem;
}

.main input{
    display: flex;
    font-size: 1.1rem;
    margin: 1rem auto 1.5rem auto;
    padding: .4rem;
    width: 36rem;
    height: 3rem;
    font-family: 'Play', sans-serif;
}

.confirm button{
    width: 2.2rem;
    height: 2rem;
    cursor: pointer;
}
  